.o-calendar {
    .ant-fullcalendar {
        &-active-week {
            background-color: #b3e1ff;
        }
        &-selected-day .ant-fullcalendar-value {
            background: transparent;
            color: #333;
        }
        &-today .ant-fullcalendar-value {
            background: #0299ff;
            color: #fff;
        }
    }
}
